# PlatformIO
firmware/.pio/
firmware/.vscode/
firmware/platformio.local.ini

# Secrets
.env
*.env
python/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# IDE
.idea/
*.swp
*.swo
.DS_Store

# Temp
*.raw
*.log
